

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2.8rem 0;
    margin: 0 auto;
    max-width: 120rem;
    width: calc(100% - 8rem);
}

.navbar-headers {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: -1rem;
}

.name {
    margin: 1rem 0 0 2.4rem;
}

.portfolio {
    margin: 1rem 0 0 2.4rem;
}

.navbar-links {
    align-items: center;
    display: flex;
}

nav {
    margin-top: -1rem;
}

.links a{
    color: rgb(223, 61, 88);
}

.home-link {
    margin-right: 2rem;
}

.portfolio-link {
    margin-right: 4rem;
}

h2 {
    margin: 0;
}

h1 {
    margin: 0;
}