

body {
  background-color: #333;
}

*:focus {
  outline: 0.2em solid !important;
  color:rgb(223, 61, 88) !important;
}

h1 {
  color: #000;
  margin: 0 30px 30px 30px;
}

.page-title-cont {
  background-color: #fff;
  padding: 5rem 0;
}

.home-text h1 {
  padding-top: 30px;
}

.home-text {
  color: white;
}

.page-title h2 {
  font-size: 5em;
  text-align: center;
}

.line-container {
  padding-top: 2rem;
}

.line-box {
  background-color: #333;
  display: flex;
  justify-content: space-evenly;
}

.portrait {
  background-color: rgba(255, 255, 255, 0.2);
  width: 30rem;
  height: 25rem;
}

.line-box-again {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 110rem;
}

.welcome-box {
  background-color: rgba(255, 255, 255, 0.2);
  width: 50rem;
}

.welcome-box p {
  margin-left: 1rem;
  font-size: 1rem;
  color: #fff;
}

.welcome-wrapper {
  margin: 0 auto;
}

.port-box {
  background-color: rgb(222, 222, 222);;

}

.port-box h2 {
  margin: 5rem 0;
  font-size: 3.5em;
}

.port-wrapper {
  margin: 0 auto;
}

.long-box {
  background-color: #fff;
}

.long-box h3 {
  margin: 5rem 0;
  font-size: 2.5em;
}

.long-title {
  margin: 0 auto;
}

.long-text {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  margin: 0 5rem;
}

strong {
  margin: 1em 0;
}

.port-title {
  background-color: #fff;
}

hr {
  width: 100%;
  background-color: #333;
  margin: 4rem 0;
  height: 2rem;
  border: none;
}

.project-title {
  color: #fff;
  margin: 2rem 0 3rem;
  text-decoration: underline;
  text-align: center;
  font-size: 1.5rem;
}

.GMAC-Reimagined {
  margin-bottom: 4rem;
}

.Disco-link {
  margin: 3em 0 2em 0;
}

.flex-port {
  display: flex;
  margin: 4rem;
}

.port-text {
  color: #fff;
  width: 40%;
}

.port-text p {
  margin: 2rem;
}

.port-text a {
  margin: 2rem;
  color: #df3d58;
}

.inversity-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .flex-port {
    flex-direction: column;
  }
  .port-text {
    width: 95%;
    margin: 0 auto;
  }
  .line-box {
    flex-direction: column;
    align-items: center;
  }
  .portrait {
    margin-bottom: 3rem
  }
}

@media screen and (max-width: 768px) {
  .port-text {
    width: 100%;
  }
  .welcome-box p {
    font-size: 14px;
    padding-left: 10px;
  }
  .port-text p {
    margin: 2rem 22px 2rem 22px;
  }
}

@media screen and (max-width: 425px) {
  .flex-port {
    margin: 0;
  }
  .portrait {
    width: 100%;
  }
  .welcome-box {
    width: 100%;
  }
  .welcome-box p {
    padding: 0;
    margin-left: 11px
  }
}

@media screen and (max-width: 375px) {
  .page-title h1 {
    font-size: 3rem;
  }
  .welcome-box p {
    margin-left: 8px;
  }
}

@media screen and (max-width: 320px) {
  .welcome-box p {
    margin-left: 4px;
  }
}