.App {
  text-align: center;
}

body {
  background-color: #333;
}

*:focus {
  outline: 0.2em solid !important;
  color: red !important;
}

h1 {
  color: rgb(0, 0, 0);
  margin: 0 30px 30px 30px;
}

.page-title-cont {
  background-color: #fff;
}

.home-text h1 {
  padding-top: 30px;
}

.port-text {
  margin-bottom: 20px;
  color: white;
}

.port-text h1 {
  padding-top: 30px;
}

.FareShare-text {
  margin-bottom: 30px;
  color: white;
}

.FareShare-text a {
  color: cyan;
}

.GMAC-text {
  margin-bottom: 30px;
  color: white;
}

.GMAC-text a {
  color: cyan;
}

.home-text {
  color: white;
}

.page-title {
  font-size: 5em;
  padding: 5rem 0;
}

.line-container {
  padding-top: 4rem;
}

.line-box {
  background-color: #333;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 36rem;
}

.welcome-box {
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 45px;
}

.welcome-box h2 {
  margin: 3rem 0 5rem;
  font-size: 5rem;
}

.welcome-wrapper {
  margin: 0 auto;
}

.port-box {
  background-color: rgb(222, 222, 222);;
  padding-top: 45px;
}

.port-box h2 {
  margin: 3rem 0 5rem;
  font-size: 3.5em;
}

.port-wrapper {
  margin: 0 auto;
}

.long-box {
  background-color: #fff;
  padding-top: 45px;
}

.long-box h3 {
  margin: 3rem 0 5rem;
  font-size: 2.5em;
}

.long-title {
  margin: 0 auto;
}

