.App {
  text-align: center;
}

body {
  
}

*:focus {
  outline: 0.2em solid !important;
  color: red !important;
}

h1 {
  color: rgb(0, 0, 0);
  margin: 0 30px 30px 30px;
}

.home-text h1 {
  padding-top: 30px;
}

.port-text {
  margin-bottom: 20px;
  color: white;
}

.port-text h1 {
  padding-top: 30px;
}

.FareShare-text {
  margin-bottom: 30px;
  color: white;
}

.FareShare-text a {
  color: cyan;
}

.GMAC-text {
  margin-bottom: 30px;
  color: white;
}

.GMAC-text a {
  color: cyan;
}

.home-text {
  color: white;
}

.page-title {
  font-size: 5em;
}